<main
  class="bg-gray-700 text-white flex border-2 rounded-xl m-2 p-2 justify-between items-center">
  <a href="/" class="text-3xl">navbar is here!</a>
  @if (authService.user()) {
    <div class="flex items-center mr-10">
      <button
        (click)="logout()"
        class="rounded-xl border hover:bg-blue-500 m-2 p-2">
        Logout
      </button>

      <a href="/profile" class="rounded-full border">
        <img
          class="rounded-full size-16"
          [src]="authService.user()?.image"
          alt="" />
      </a>
    </div>
  }

  @if (authService.user() === null) {
    <div>
      <button href="/login" class="rounded-xl border hover:bg-blue-500 m-2 p-2">
        <a href="/login">Login</a>
      </button>

      <button class="rounded-xl border hover:bg-blue-500 m-2 p-2">
        <a href="/signup">Signup</a>
      </button>
    </div>
  }
</main>
