<section class="rounded-xl flex">
  <div class="flex justify-center rounded-xl w-[85%] m-2 p-2 border-2">
    <!-- genre -->
    <div class="mx-2 relative">
      <button
        (click)="dropdownClick('isGenreOpen')"
        class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded">
        Genres
      </button>
      @if (isGenreOpen) {
        <div
          class="absolute left-0 mt-2 bg-white border rounded shadow-lg w-auto">
          <ul>
            @for (genre of genres; track genre.id) {
              <li
                class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
                [ngClass]="selectedGenres.has(genre.id) ? 'bg-blue-200' : ''"
                (click)="toggleGenre(genre.id)">
                {{ genre.name }}
              </li>
            }
          </ul>
        </div>
      }
    </div>

    <!-- language -->
    <div class="mx-2 relative">
      <button
        (click)="dropdownClick('isLanguageOpen')"
        class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded">
        Language
      </button>
      @if (isLanguageOpen) {
        <div
          class="absolute left-0 mt-2 bg-white border rounded shadow-lg w-auto">
          <ul>
            @for (language of languages; track $index) {
              <li
                class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
                [ngClass]="
                  selectedLanguages.has(language.iso) ? 'bg-blue-200' : ''
                "
                (click)="toggleLanguage(language.iso)">
                {{ language.english_name }}
              </li>
            }
          </ul>
        </div>
      }
    </div>

    <!-- year -->
    <div class="mx-2 relative">
      <button
        (click)="dropdownClick('isYearOpen')"
        class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded">
        Year
      </button>
      @if (isYearOpen) {
        <div
          class="absolute left-0 mt-2 bg-white border rounded shadow-lg w-auto">
          <ul>
            @for (year of years; track $index) {
              <li
                class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
                [ngClass]="selectedYears.has(year) ? 'bg-blue-200' : ''"
                (click)="toggleYear(year)">
                {{ year }}
              </li>
            }
          </ul>
        </div>
      }
    </div>
    <!-- country | with_origin_country -->
    <div class="mx-2 relative">
      <button
        (click)="dropdownClick('isCountryOpen')"
        class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded">
        Country
      </button>
      @if (isCountryOpen) {
        <div
          class="absolute left-0 mt-2 bg-white border rounded shadow-lg w-auto">
          <ul>
            @for (country of countries; track $index) {
              <li
                class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
                [ngClass]="
                  selectedCountries.has(country.iso) ? 'bg-blue-200' : ''
                "
                (click)="toggleCountry(country.iso)">
                {{ country.english_name }}
              </li>
            }
          </ul>
        </div>
      }
    </div>
    <!-- sort_by -->
    <!-- series or movie-->
  </div>
  <button
    (click)="onFilter()"
    class="rounded-xl border w-[15%] hover:bg-blue-500 m-2 p-2">
    filter
  </button>
</section>
